#Java
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# netbeans
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

**build_log.txt
**build_errors.txt
/mooc-java-programming-i/part01-Part01_02.AdaLovelace/target/
/mooc-java-programming-i/part01-Part01_01.Sandbox/target/
/mooc-java-programming-i/part01-Part01_03.OnceUponATime/target/
/mooc-java-programming-i/part01-Part01_04.Dinosaur/target/
/mooc-java-programming-i/part01-Part01_05.Message/target/
/mooc-java-programming-i/part01-Part01_06.HiAdaLovelace/target/
/mooc-java-programming-i/part01-Part01_07.MessageThreeTimes/target/
/mooc-java-programming-i/part01-Part01_08.Greeting/target/
/mooc-java-programming-i/part01-Part01_09.Conversation/target/
/mooc-java-programming-i/part01-Part01_10.Story/target/
/mooc-java-programming-i/part01-Part01_11.VariousVariables/target/
/mooc-java-programming-i/part01-Part01_12.IntegerInput/target/
/mooc-java-programming-i/part01-Part01_13.DoubleInput/target/
/mooc-java-programming-i/part01-Part01_14.BooleanInput/target/
/mooc-java-programming-i/part01-Part01_15.DifferentTypesOfInput/target/
/mooc-java-programming-i/part01-Part01_16.SecondsInADay/target/
/mooc-java-programming-i/part01-Part01_17.SumOfTwoNumbers/target/
/mooc-java-programming-i/part01-Part01_18.SumOfThreeNumbers/target/
/mooc-java-programming-i/part01-Part01_19.AdditionFormula/target/
/mooc-java-programming-i/part01-Part01_20.MultiplicationFormula/target/
/mooc-java-programming-i/part01-Part01_21.AverageOfTwoNumbers/target/
/mooc-java-programming-i/part01-Part01_22.AverageOfThreeNumbers/target/
/mooc-java-programming-i/part01-Part01_23.SimpleCalculator/target/
/mooc-java-programming-i/part01-Part01_24.SpeedingTicket/target/
/mooc-java-programming-i/part01-Part01_25.CheckYourIndentation/target/
/mooc-java-programming-i/part01-Part01_26.Orwell/target/
/mooc-java-programming-i/part01-Part01_27.Ancient/target/
/mooc-java-programming-i/part01-Part01_28.Positivity/target/
/mooc-java-programming-i/part01-Part01_29.Adulthood/target/
/mooc-java-programming-i/part01-Part01_30.LargerThanOrEqualTo/target/
/mooc-java-programming-i/part01-Part01_31.GradesAndPoints/target/
/mooc-java-programming-i/part01-Part01_32.OddOrEven/target/
/mooc-java-programming-i/part01-Part01_33.Password/target/
/mooc-java-programming-i/part01-Part01_34.Same/target/
/mooc-java-programming-i/part01-Part01_35.CheckingTheAge/target/
/mooc-java-programming-i/part01-Part01_36.LeapYear/target/