#Java
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# netbeans
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

**build_log.txt
**build_errors.txt
/mooc-java-programming-i/part01-Part01_02.AdaLovelace/target/
/mooc-java-programming-i/part01-Part01_01.Sandbox/target/
/mooc-java-programming-i/part01-Part01_03.OnceUponATime/target/
/mooc-java-programming-i/part01-Part01_04.Dinosaur/target/
/mooc-java-programming-i/part01-Part01_05.Message/target/
/mooc-java-programming-i/part01-Part01_06.HiAdaLovelace/target/
/mooc-java-programming-i/part01-Part01_07.MessageThreeTimes/target/
/mooc-java-programming-i/part01-Part01_08.Greeting/target/
/mooc-java-programming-i/part01-Part01_09.Conversation/target/
/mooc-java-programming-i/part01-Part01_10.Story/target/
/mooc-java-programming-i/part01-Part01_11.VariousVariables/target/
/mooc-java-programming-i/part01-Part01_12.IntegerInput/target/
/mooc-java-programming-i/part01-Part01_13.DoubleInput/target/
/mooc-java-programming-i/part01-Part01_14.BooleanInput/target/
/mooc-java-programming-i/part01-Part01_15.DifferentTypesOfInput/target/
/mooc-java-programming-i/part01-Part01_16.SecondsInADay/target/
/mooc-java-programming-i/part01-Part01_17.SumOfTwoNumbers/target/
/mooc-java-programming-i/part01-Part01_18.SumOfThreeNumbers/target/
/mooc-java-programming-i/part01-Part01_19.AdditionFormula/target/
/mooc-java-programming-i/part01-Part01_20.MultiplicationFormula/target/
/mooc-java-programming-i/part01-Part01_21.AverageOfTwoNumbers/target/
/mooc-java-programming-i/part01-Part01_22.AverageOfThreeNumbers/target/
/mooc-java-programming-i/part01-Part01_23.SimpleCalculator/target/
/mooc-java-programming-i/part01-Part01_24.SpeedingTicket/target/
/mooc-java-programming-i/part01-Part01_25.CheckYourIndentation/target/
/mooc-java-programming-i/part01-Part01_26.Orwell/target/
/mooc-java-programming-i/part01-Part01_27.Ancient/target/
/mooc-java-programming-i/part01-Part01_28.Positivity/target/
/mooc-java-programming-i/part01-Part01_29.Adulthood/target/
/mooc-java-programming-i/part01-Part01_30.LargerThanOrEqualTo/target/
/mooc-java-programming-i/part01-Part01_31.GradesAndPoints/target/
/mooc-java-programming-i/part01-Part01_32.OddOrEven/target/
/mooc-java-programming-i/part01-Part01_33.Password/target/
/mooc-java-programming-i/part01-Part01_34.Same/target/
/mooc-java-programming-i/part01-Part01_35.CheckingTheAge/target/
/mooc-java-programming-i/part01-Part01_36.LeapYear/target/
/mooc-java-programming-i/part01-Part01_37.GiftTax/target/
/mooc-java-programming-i/part02-Part02_01.Squared/target/
/mooc-java-programming-i/part02-Part02_02.SquareRootOfSum/target/
/mooc-java-programming-i/part02-Part02_03.AbsoluteValue/target/
/mooc-java-programming-i/part02-Part02_04.ComparingNumbers/target/
/mooc-java-programming-i/part02-Part02_05.CarryOn/target/
/mooc-java-programming-i/part02-Part02_06.AreWeThereYet/target/
/mooc-java-programming-i/part02-Part02_07.OnlyPositives/target/
/mooc-java-programming-i/part02-Part02_08.NumberOfNumbers/target/
/mooc-java-programming-i/part02-Part02_09.NumberOfNegativeNumbers/target/
/mooc-java-programming-i/part02-Part02_10.SumOfNumbers/target/
/mooc-java-programming-i/part02-Part02_11.NumberAndSumOfNumbers/target/
/mooc-java-programming-i/part02-Part02_12.AverageOfNumbers/target/
/mooc-java-programming-i/part02-Part02_13.AverageOfPositiveNumbers/target/
/mooc-java-programming-i/part02-Part02_14.Counting/target/
/mooc-java-programming-i/part02-Part02_15.CountingToHundred/target/
/mooc-java-programming-i/part02-Part02_16.FromWhereToWhere/target/
/mooc-java-programming-i/part02-Part02_17.SumOfASequence/target/
/mooc-java-programming-i/part02-Part02_18.SumOfASequenceTheSequel/target/
/mooc-java-programming-i/part02-Part02_19.Factorial/target/
/mooc-java-programming-i/part02-Part02_20.RepeatingBreakingAndRemembering/target/
/mooc-java-programming-i/part02-Part02_21.InAHoleInTheGround/target/
/mooc-java-programming-i/part02-Part02_22.Reprint/target/
/mooc-java-programming-i/part02-Part02_23.FromOneToParameter/target/
/mooc-java-programming-i/part02-Part02_24.FromParameterToOne/target/
/mooc-java-programming-i/part02-Part02_25.Division/target/
/mooc-java-programming-i/part02-Part02_26.DivisibleByThree/target/
/mooc-java-programming-i/part02-Part02_27.NumberUno/target/
/mooc-java-programming-i/part02-Part02_28.Word/target/
/mooc-java-programming-i/part02-Part02_29.Summation/target/
/mooc-java-programming-i/part02-Part02_30.Smallest/target/
/mooc-java-programming-i/part02-Part02_31.Greatest/target/
/mooc-java-programming-i/part02-Part02_32.Averaging/target/
/mooc-java-programming-i/part02-Part02_33.StarSign/target/
/mooc-java-programming-i/part02-Part02_34.AdvancedAstrology/target/
/mooc-java-programming-i/part03-Part03_01.ThirdElement/target/
/mooc-java-programming-i/part03-Part03_02.SecondPlusThird/target/
/mooc-java-programming-i/part03-Part03_03.IndexOutOfBoundsException/target/
/mooc-java-programming-i/part03-Part03_04.ListSize/target/
/mooc-java-programming-i/part03-Part03_05.LastInList/target/
/mooc-java-programming-i/part03-Part03_06.FirstAndLast/target/
/mooc-java-programming-i/part03-Part03_07.RememberTheseNumbers/target/
/mooc-java-programming-i/part03-Part03_08.OnlyTheseNumbers/target/
/mooc-java-programming-i/part03-Part03_09.GreatestInList/target/
/mooc-java-programming-i/part03-Part03_10.IndexOf/target/
/mooc-java-programming-i/part03-Part03_11.IndexOfSmallest/target/
/mooc-java-programming-i/part03-Part03_12.SumOfAList/target/
/mooc-java-programming-i/part03-Part03_13.AverageOfAList/target/
/mooc-java-programming-i/part03-Part03_14.OnTheList/target/
/mooc-java-programming-i/part03-Part03_15.PrintInRange/target/
/mooc-java-programming-i/part03-Part03_16.Sum/target/
/mooc-java-programming-i/part03-Part03_17.RemoveLast/target/
/mooc-java-programming-i/part03-Part03_18.Swap/target/
/mooc-java-programming-i/part03-Part03_19.IndexWasNotFound/target/
/mooc-java-programming-i/part03-Part03_20.SumOfArray/target/
/mooc-java-programming-i/part03-Part03_21.PrintNeatly/target/
/mooc-java-programming-i/part03-Part03_22.PrintInStars/target/
/mooc-java-programming-i/part03-Part03_23.PrintThrice/target/
/mooc-java-programming-i/part03-Part03_24.IsItTrue/target/
/mooc-java-programming-i/part03-Part03_25.Login/target/
/mooc-java-programming-i/part03-Part03_26.LineByLine/target/
/mooc-java-programming-i/part03-Part03_27.AVClub/target/
/mooc-java-programming-i/part03-Part03_28.FirstWords/target/
/mooc-java-programming-i/part03-Part03_29.LastWords/target/
/mooc-java-programming-i/part03-Part03_30.AgeOfTheOldest/target/
/mooc-java-programming-i/part03-Part03_31.NameOfTheOldest/target/
/mooc-java-programming-i/part03-Part03_32.PersonalDetails/target/
/mooc-java-programming-i/part04-Part04_01.YourFirstAccount/target/
/mooc-java-programming-i/part04-Part04_02.YourFirstBankTransfer/target/
/mooc-java-programming-i/part04-Part04_03.DogAttributes/target/
/mooc-java-programming-i/part04-Part04_04.Room/target/
/mooc-java-programming-i/part04-Part04_05.Whistle/target/
/mooc-java-programming-i/part04-Part04_06.Door/target/
/mooc-java-programming-i/part04-Part04_07.Product/target/
/mooc-java-programming-i/part04-Part04_08.DecreasingCounter/target/
/mooc-java-programming-i/part04-Part04_09.Debt/target/
/mooc-java-programming-i/part04-Part04_10.Song/target/
/mooc-java-programming-i/part04-Part04_11.Film/target/
/mooc-java-programming-i/part04-Part04_12.Gauge/target/
/mooc-java-programming-i/part04-Part04_13.Agent/target/
/mooc-java-programming-i/part04-Part04_14.Multiplier/target/
/mooc-java-programming-i/part04-Part04_15.NumberStatistics/target/
/mooc-java-programming-i/part04-Part04_16.PaymentCard/target/
/mooc-java-programming-i/part04-Part04_17.Items/target/
/mooc-java-programming-i/part04-Part04_18.PersonalInformation/target/
/mooc-java-programming-i/part04-Part04_19.TelevisionPrograms/target/
/mooc-java-programming-i/part04-Part04_20.Books/target/
/mooc-java-programming-i/part04-Part04_21.NumberOfStrings/target/
/mooc-java-programming-i/part04-Part04_22.Cubes/target/
/mooc-java-programming-i/part04-Part04_23.CreatingANewFile/target/
/mooc-java-programming-i/part04-Part04_24.PrintingAFile/target/
/mooc-java-programming-i/part04-Part04_25.PrintingASpecifiedFile/target/
/mooc-java-programming-i/part04-Part04_26.GuestListFromAFile/target/
/mooc-java-programming-i/part04-Part04_27.IsItInTheFile/target/
/mooc-java-programming-i/part04-Part04_28.NumbersFromAFile/target/
/mooc-java-programming-i/part04-Part04_29.RecordsFromAFile/target/
/mooc-java-programming-i/part04-Part04_30.StoringRecords/target/
/mooc-java-programming-i/part04-Part04_31.SportStatistics/target/
/mooc-java-programming-i/part05-Part05_01.OneMinute/target/
/mooc-java-programming-i/part05-Part05_02.Book/target/
/mooc-java-programming-i/part05-Part05_03.Cube/target/
/mooc-java-programming-i/part05-Part05_04.FitByte/target/
/mooc-java-programming-i/part05-Part05_05.ConstructorOverload/target/
/mooc-java-programming-i/part05-Part05_06.OverloadedCounter/target/
/mooc-java-programming-i/part05-Part05_07.NullPointerException/target/
/mooc-java-programming-i/part05-Part05_09.HealthStation/target/
/mooc-java-programming-i/part05-Part05_10.CardPayments/target/
/mooc-java-programming-i/part05-Part05_08.BiggestPetShop/target/
/mooc-java-programming-i/part05-Part05_11.ComparingApartments/target/
/mooc-java-programming-i/part05-Part05_12.Song/target/
/mooc-java-programming-i/part05-Part05_13.IdenticalTwins/target/
/mooc-java-programming-i/part05-Part05_14.Books/target/
/mooc-java-programming-i/part05-Part05_15.Archive/target/
/mooc-java-programming-i/part05-Part05_16.DatingApp/target/
/mooc-java-programming-i/part05-Part05_17.Money/target/
/mooc-java-programming-i/part06-Part06_01.Menu/target/
/mooc-java-programming-i/part06-Part06_02.Stack/target/
/mooc-java-programming-i/part06-Part06_03.MessagingService/target/
/mooc-java-programming-i/part06-Part06_04.PrintingACollection/target/
/mooc-java-programming-i/part06-Part06_05.SantasWorkshop/target/
/mooc-java-programming-i/part06-Part06_06.LongestInCollection/target/
/mooc-java-programming-i/part06-Part06_07.HeightOrder/target/
/mooc-java-programming-i/part06-Part06_08.CargoHold/target/
/mooc-java-programming-i/part06-Part06_09.SimpleDictionary/target/
/mooc-java-programming-i/part06-Part06_10.TodoList/target/
/mooc-java-programming-i/part06-Part06_11.Averages/target/
/mooc-java-programming-i/part06-Part06_12.JokeManager/target/
/mooc-java-programming-i/exerciseManagemnt/nbproject/
/mooc-java-programming-i/exerciseManagemnt/target/
/mooc-java-programming-i/part06-Part06_13.Exercises/target/
/mooc-java-programming-i/part07-Part07_01.LiquidContainers/target/
/mooc-java-programming-i/part07-Part07_02.LiquidContainers2/target/
/mooc-java-programming-i/part07-Part07_03.Sorting/target/
/mooc-java-programming-i/part07-Part07_04.ReadymadeSortingAlgorithms/target/
/mooc-java-programming-i/part07-Part07_05.Searching/target/
/mooc-java-programming-i/part07-Part07_06.GradeStatistics/target/
/mooc-java-programming-i/part07-Part07_07.RecipeSearch/target/
/mooc-java-programming-i/part07-Part07_08.BigYear/target/
/mooc-java-programming-ii/part08-Part08_01.Cubes/target/
/mooc-java-programming-ii/part08-Part08_02.AverageOfPositiveNumbers/target/
/mooc-java-programming-ii/part08-Part08_03.LiquidContainers/target/
/mooc-java-programming-ii/part08-Part08_04.LiquidContainers2/target/
/mooc-java-programming-ii/part08-Part08_05.TodoList/target/
/mooc-java-programming-ii/Part08_00_Sandbox/target/
/mooc-java-programming-ii/part08-Part08_06.Nicknames/target/
/mooc-java-programming-ii/part08-Part08_07.Abbreviations/target/
/mooc-java-programming-ii/part08-Part08_08.PrintMeMyHashmap/target/
/mooc-java-programming-ii/part08-Part08_09.PrintMeAnotherHashmap/target/
/mooc-java-programming-ii/part08-Part08_10.IOweYou/target/
/mooc-java-programming-ii/part08-Part08_11.SameDate/target/
/mooc-java-programming-ii/part08-Part08_12.HashedDate/target/
/mooc-java-programming-ii/part08-Part08_13.VehicleRegistry/target/
/mooc-java-programming-ii/part08-Part08_14.DictionaryOfManyTranslations/target/
/mooc-java-programming-ii/part08-Part08_15.StorageFacility/target/
/mooc-java-programming-ii/part09-Part09_01.ABC/target/
/mooc-java-programming-ii/part09-Part09_02.PersonAndSubclasses/target/
/mooc-java-programming-ii/part09-Part09_03.Warehousing/target/
/mooc-java-programming-ii/part09-Part09_04.DifferentKindsOfBoxes/target/
/mooc-java-programming-ii/part09-Part09_05.TacoBoxes/target/
/mooc-java-programming-ii/part09-Part09_06.InterfaceInABox/target/
/mooc-java-programming-ii/part09-Part09_07.ListAsAMethodParameter/target/
/mooc-java-programming-ii/part09-Part09_08.MapAsAMethodParameter/target/
/mooc-java-programming-ii/part09-Part09_09.SetAsMethodParameter/target/
/mooc-java-programming-ii/part09-Part09_10.OnlineShop/target/
/mooc-java-programming-ii/part09-Part09_11.Herds/target/
/mooc-java-programming-ii/part09-Part09_12.Animals/target/
/mooc-java-programming-ii/part10-Part10_01.AverageOfNumbers/target/
/mooc-java-programming-ii/part10-Part10_02.AverageOfSelectedNumbers/target/
/mooc-java-programming-ii/part10-Part10_03.PositiveNumbers/target/
/mooc-java-programming-ii/part10-Part10_04.Divisible/target/
/mooc-java-programming-ii/part10-Part10_05.PrintingUserInput/target/
/mooc-java-programming-ii/part10-Part10_06.LimitedNumbers/target/
/mooc-java-programming-ii/part10-Part10_07.UniqueLastNames/target/
/mooc-java-programming-ii/part10-Part10_08.Weighting/target/
/mooc-java-programming-ii/part10-Part10_09.ReadingFilesPerLine/target/
/mooc-java-programming-ii/part10-Part10_10.BooksFromFile/target/
/mooc-java-programming-ii/part10-Part10_11.WageOrder/target/
/mooc-java-programming-ii/part10-Part10_12.StudentsOnAlphabeticalOrder/target/
/mooc-java-programming-ii/part10-Part10_13.LiteracyComparison/target/
/mooc-java-programming-ii/part10-Part10_14.Literature/target/
/mooc-java-programming-ii/part10-Part10_15.RegularExpressions/target/
/mooc-java-programming-ii/part10-Part10_16.EnumAndIterator/target/
/mooc-java-programming-ii/part10-Part10_17.SortThemCards/target/
/mooc-java-programming-ii/part11-Part11_01.Customer/target/
/mooc-java-programming-ii/part11-Part11_02.ABookAndAPlane/target/
/mooc-java-programming-ii/part11-Part11_03.ShowAndTicket/target/
/mooc-java-programming-ii/part11-Part11_04.StudentAndUniversity/target/
/mooc-java-programming-ii/part11-Part11_05.ThePlayerAndTheBot/target/
/mooc-java-programming-ii/part11-Part11_06.SaveablePerson/target/
/mooc-java-programming-ii/part11-Part11_07.BiggerClassDiagram/target/
/mooc-java-programming-ii/part11-Part11_08.FirstPackages/target/
/mooc-java-programming-ii/part11-Part11_09.TheThreePackages/target/
/mooc-java-programming-ii/part11-Part11_10.FlightControl/target/
/mooc-java-programming-ii/part11-Part11_11.ValidatingParameters/target/
/mooc-java-programming-ii/part11-Part11_12.SensorsAndTemperature/target/